<!DOCTYPE html>
<html>

<head>
    <title>Remember You</title>
    <meta charset="gb2312">
    <link rel="stylesheet" type="text/css" href="/web-app/css/login.css">
</head>

<body>
    <ol>
        <li class="topic active">能留下您的联系方式吗？我想我会联系你的。</li>
        <li class="topic">我的朋友，请问我应该如何称呼您？</li>
        <li class="topic">让我们约定一个暗号，这样在人群中我一眼就能看见你。</li>
    </ol>
    <form action="/user" method="post">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" value="submit">
    </form>
</body>

</html>
